<?xml version="1.0" encoding="utf-8"?>

<openerp>
    <data>
    <!--MENU PARENT-->
    <menuitem
        id="menu_invoice_top"
        name="Invoicing"
        sequence="5"/>
    <!--END MENU PARENT-->

    <!--MENU LEFT-->
    <menuitem
        id="menu_invoice_left"
        name="Invoice"
        sequence="1"
        parent="menu_invoice_top"/>
    <menuitem
        id="menu_task_left"
        name="Task"
        sequence="2"
        parent="menu_invoice_top"
        action="budget_capex.action_task"/>
    <menuitem
        id="menu_external_left"
        name="Dependencies"
        sequence="3"
        parent="menu_invoice_top"/>
    <!--END MENU LEFT-->

    <!--MENU LEFT-CHILD-->
    <menuitem
        id="menu_invoice_left_child"
        name="Invoice"
        sequence="1"
        parent="menu_invoice_left"
        action="action_invoice"/>
    <menuitem
        id="menu_invoice_summary_left_child"
        name="Invoice Summary"
        sequence="2"
        parent="menu_invoice_left"
        action="action_invoice_summary"/>
        <menuitem
        id="menu_contractor_left_child"
        name="Contractor"
        sequence="1"
        parent="menu_external_left"
        action="budget_contractor.action_contractor"/>

    </data>
</openerp>
