<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <data>
        <!--MENU PARENT-->
        <menuitem
                id="menu_invoice_top"
                name="Invoicing"
                sequence="7"/>
        <menuitem
                id="menu_invoice_left"
                name="Invoice"
                sequence="1"
                parent="menu_invoice_top"/>
        <!-- INVOICE VIEW FOR DEPENDENT -->
        <menuitem
                id="menu_invoice_left_child"
                name="Invoice"
                sequence="1"
                parent="menu_invoice_left"
                action="action_invoice"
                groups="base.group_no_one,budget_invoice.group_invoice_dependent"/>
        <!-- INVOICE VIEW FOR REGIONAL -->
        <menuitem
                id="menu_invoice_regional_left_child"
                name="Invoice"
                sequence="1"
                parent="menu_invoice_left"
                action="action_invoice_regional"
                groups="base.group_no_one,budget_invoice.group_invoice_regional_user,budget_invoice.group_invoice_regional_manager"/>
        <!-- INVOICE VIEW FOR HEAD OFFICE -->
        <menuitem
                id="menu_invoice_head_office_left_child"
                name="Invoice"
                sequence="1"
                parent="menu_invoice_left"
                action="action_invoice_head_office"
                groups="base.group_no_one,budget_invoice.group_invoice_head_office_user,budget_invoice.group_invoice_head_office_manager"/>
        <menuitem
                id="menu_invoice_amount_left_child"
                name="Invoice Amount"
                sequence="2"
                parent="menu_invoice_left"
                groups="base.group_no_one"
                action="action_invoice_amount"/>
        <menuitem
                id="menu_invoice_summary_left_child"
                name="Invoice Summary"
                sequence="3"
                parent="menu_invoice_left"
                action="action_invoice_summary"/>
        <menuitem
                id="menu_purchase_order_left_child"
                name="Purchase Order"
                sequence="4"
                parent="menu_invoice_left"
                action="budget_purchase_order.action_purchase_order"/>


        <menuitem
                id="menu_cear_left"
                name="Cear"
                sequence="2"
                parent="menu_invoice_top"
                action="budget_capex.action_cear"/>

        <menuitem
                id="menu_external_left"
                name="Dependencies"
                sequence="3"
                parent="menu_invoice_top"/>
        <menuitem
                id="menu_contractor_left_child"
                name="Contractor"
                sequence="1"
                parent="menu_external_left"
                action="budget_contractor.action_contractor"/>
        <menuitem
                id="menu_pec_left_child"
                name="Project Estimated Cost"
                sequence="2"
                parent="menu_external_left"
                action="action_pec"/>
        <menuitem
                id="menu_currency_rate_left_child"
                name="Currency Rate"
                sequence="99"
                parent="menu_external_left"
                action="action_currency_rate"/>


    </data>
</odoo>
